<!DOCTYPE html>
<html lang="en">
  <head>
       <title>Data Table  </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body class="app sidebar-mini rtl">
    <!-- Navbar-->
     <!-- Navbar-->
     <%- include('../themepart/header'); -%>
     <!-- Sidebar menu-->
     <%- include('../themepart/sidebar'); -%>
    <!-- Sidebar menu-->
  
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i> Category Table</h1>
          <p> </p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active"><a href="#">Data Table</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">

              <script>
                 function ConfirmDelete()
                {
                var x = confirm("Are you sure you want to delete?");
                if (x)
                    return true;
                else
                  return false;
                }
            
              </script>
              <table class="table table-hover table-bordered" id="sampleTable">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Action</th>
                    
                  </tr>
                </thead>
                <tbody>
                    <% if(user_array.length>0) { %>
                  <% for(var i=0; i<user_array.length;i++) { %>
                    <tr>
                        <td><%= i+1 %></td> 
                        <td><%= user_array[i].category_name %></td>
                        <td><a href='../upload/<%= user_array[i].category_image %>' target="_blank"><img src='../upload/<%= user_array[i].category_image %>' width='100px;'></a></td>
                       
                        <td>
                                <a href='/category/edit/<%= user_array[i]._id %>'>Edit</a> | 
                                <a href='/category/delete/<%= user_array[i]._id %>' onclick="return ConfirmDelete()">Delete</a>  
                                <a href='/category/show/<%= user_array[i]._id %>'> </a>
                      
                      </td>
                    </tr>
                    <% } %>
       
                <% } else { %>
                    No Record Found
                  <% } %>
                   
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>

     <!-- footer-->
     <%- include('../themepart/footer'); -%>
 
    <!-- Essential javascripts for application to work-->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="../js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <!-- Data table plugin-->
    <script type="text/javascript" src="../js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../js/plugins/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
    <!-- Google analytics script-->
    
  </body>
</html>